{% extends "_layout/base.html" %}
{% set active_page = 'about' %}
{% block content %}
	<!-- Hero -->
	<section class="hero hero--small">
		<div class="row hero__content">
			<div class="small-9 columns">
				<h1 class="hero__title">About us</h1>
				<p class="hero__text">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs.</p>
			</div>
		</div>
	</section>
	
	<!-- About us -->
	<section class="section">
		<div class="row card">
			<div class="small-12 medium-6 columns p-l-0">
				<img src="assets/images/who-we-are.png">
			</div>
			<div class="small-12 medium-6 columns p-t-m p-b-m">
				<h2 class="heading left">WHO WE ARE</h2>
				<p class="m-b-m">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch.</p>
				<a class="button button--ghost-gold button--rounded" href="#">LEARN MORE</a>
			</div>
		</div>
	</section>	

	<!-- Team -->
	<section class="section section--white">
		<div class="row align-center">
			<div class="small-12 medium-9 columns">
				<div class="text-center m-b-l">
					<h2 class="heading">MEET OUR TEAM</h2>
				</div>

				<div class="row">
					<div class="small-12 medium-6 columns">
						<div class="media-object">
							<div class="media-object__section">
								<div class="thumbnail">
									<img src="https://randomuser.me/api/portraits/men/1.jpg" class="image-circle" width="130px">
								</div>
							</div>
							<div class="media-object__section">
								<span class="block color-gold m-b-xs">JOSHEP WILLIAM</span>
								<span class="block m-b-xs">Creative Director</span>
								<span class="block m-b-xs">Website or whether you are looking for a design refresh we are confident you will be pleased.</span>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#" class="color-black"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="media-object">
							<div class="media-object__section">
								<div class="thumbnail">
									<img src="https://randomuser.me/api/portraits/men/1.jpg" class="image-circle" width="130px">
								</div>
							</div>
							<div class="media-object__section">
								<span class="block color-gold m-b-xs">JOSHEP WILLIAM</span>
								<span class="block m-b-xs">Creative Director</span>
								<span class="block m-b-xs">Website or whether you are looking for a design refresh we are confident you will be pleased.</span>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#" class="color-black"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<div class="media-object">
							<div class="media-object__section">
								<div class="thumbnail">
									<img src="https://randomuser.me/api/portraits/men/1.jpg" class="image-circle" width="130px">
								</div>
							</div>
							<div class="media-object__section">
								<span class="block color-gold m-b-xs">JOSHEP WILLIAM</span>
								<span class="block m-b-xs">Creative Director</span>
								<span class="block m-b-xs">Website or whether you are looking for a design refresh we are confident you will be pleased.</span>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#" class="color-black"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="media-object">
							<div class="media-object__section">
								<div class="thumbnail">
									<img src="https://randomuser.me/api/portraits/men/1.jpg" class="image-circle" width="130px">
								</div>
							</div>
							<div class="media-object__section">
								<span class="block color-gold m-b-xs">JOSHEP WILLIAM</span>
								<span class="block m-b-xs">Creative Director</span>
								<span class="block m-b-xs">Website or whether you are looking for a design refresh we are confident you will be pleased.</span>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
								<a href="#" class="m-r-xs color-black"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								<a href="#" class="color-black"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Testimonial -->
	<section class="section">
		<div class="row">
			<div class="small-12 columns">
				<div class="text-center">
					<h2 class="heading">WHAT OUR CLIENTS SAY</h2>

					<div class="owl-carousel owl-testimonial js-slider-testimonial">
					    <div class="item text-center">
			          		<div>
			          			<img src="https://randomuser.me/api/portraits/men/10.jpg" class="image-circle">
						    	<p>Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
						    	<h4 class="color-gold m-0">Larry Jane</h4>
						    	<strong>General Manager</strong>
					    	</div>
					    </div>
						<div class="item text-center">
			          		<div>
			          			<img src="https://randomuser.me/api/portraits/men/10.jpg" class="image-circle">
						    	<p>Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
						    	<h4 class="color-gold m-0">Larry Jane</h4>
						    	<strong>General Manager</strong>
					    	</div>
					    </div>
					    <div class="item text-center">
			          		<div>
			          			<img src="https://randomuser.me/api/portraits/men/10.jpg" class="image-circle">
						    	<p>Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
						    	<h4 class="color-gold m-0">Larry Jane</h4>
						    	<strong>General Manager</strong>
					    	</div>
					    </div>
					    <div class="item text-center">
			          		<div>
			          			<img src="https://randomuser.me/api/portraits/men/10.jpg" class="image-circle">
						    	<p>Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.</p>
						    	<h4 class="color-gold m-0">Larry Jane</h4>
						    	<strong>General Manager</strong>
					    	</div>
					    </div>	   
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Client -->
	<section class="section section--white">
	    <div class="row small-up-1 medium-up-3 large-up-6 align-center">
	    	<div class="columns text-center">
	    		<img src="assets/images/c-1.jpg" alt="">
	    	</div>
	    	<div class="columns text-center">
	    		<img src="assets/images/c-2.jpg" alt="">
	    	</div>
	    	<div class="columns text-center">
	    		<img src="assets/images/c-3.jpg" alt="">
	    	</div>
	    	<div class="columns text-center">
	    		<img src="assets/images/c-4.jpg" alt="">
	    	</div>
	    </div>
	</section>

{% endblock %}