{% extends "_layout/base.html" %}
{% set active_page = 'contact' %}
{% block content %}
	<!-- Hero -->
	<section class="hero hero--small">
		<div class="row hero__content">
			<div class="small-9 columns">
				<h1 class="hero__title">Contact us</h1>
				<p class="hero__text">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs.</p>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="row">
			<div class="small-12 medium-8 columns p-l-0">
				<h3>CONTACT INFO</h3>
				<form class="form">
					<div class="form__block">
						<input type="text" name="" class="form__input" placeholder="Enter your name">
					</div>
					<div class="form__block">
						<input type="text" name="" class="form__input" placeholder="Enter your email address">
					</div>
					<div class="form__block">
						<input type="text" name="" class="form__input" placeholder="Subject Mail">
					</div>
					<div class="form__block">
						<textarea name="" class="form__input" placeholder="Write message" rows="5"></textarea>
					</div>
					<button type="sumbit" class="button button--gold">SUBMIT FORM</button>
				</form>
			</div>
			<div class="small-12 medium-4 columns">
				<h3>CONTACT INFO</h3>
				<address class="color-grey">
					PO Box 17122 Nollins Street 5034 Los Angelos
				</address>
				<p class="color-grey">
					Phone: 1800555.0658 <br>
					Email: support@fapor.com <br>
					Web: fapor.com
				</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d253840.478949799!2d106.829518!3d-6.2297465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1482656083298" style="border: 0"></iframe>
			</div>
		</div>
	</section>	

{% endblock %}