<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend starter project</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://use.fontawesome.com/6a853a3c2b.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
</head>
<body>

	<header class="header">
		<div class="row align-middle">
			<div class="medium-3 columns">
				<a href="#"><img src="assets/images/logo.png"></a>
			</div>
			<div class="medium-9 columns">
				<nav>
					<ul class="menu text-right">
						<li class="menu__list"><a href="index.html" class="menu__link{% if active_page == 'home' %} active{% endif%}">HOME</a></li>
						<li class="menu__list"><a href="about.html" class="menu__link{% if active_page == 'about' %} active{% endif%}">ABOUT</a></li>
						<li class="menu__list"><a href="service.html" class="menu__link{% if active_page == 'service' %} active{% endif%}">SERVICE</a></li>
						<li class="menu__list"><a href="portfolio.html" class="menu__link{% if active_page == 'portfolio' %} active{% endif%}">PORTFOLIO</a></li>
						<li class="menu__list"><a href="contact.html" class="menu__link{% if active_page == 'contact' %} active{% endif%}">CONTACT</a></li>
						<li class="menu__list"><a href="#" class="menu__link">COMPONENTS</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

    {% block content %}{% endblock %}

    <footer>
    	<div class="footer">
			<div class="row align-justify">
				<div class="medium-3 columns">
					<h4 class="color-gold">ABOUT FAPOR</h4>

					<p class="color-grey">
						We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.
					</p>
				</div>

				<div class="medium-3 columns">
					<h4 class="color-gold">CONTACT INFO</h4>
				</div>
				
				<div class="medium-3 olumns">
					<h4 class="color-gold">SUBSCRIBE TO OUR NEWSLETTER</h4>
				</div>
			</div>
    	</div>
    	<div class="copyright">
    		<div class="row align-justify">
    			<div class="medium-4 columns">
    				<span class="color-grey">© 2016  Fapor by Respotheme</span>
    			</div>
    			<div class="medium-4 columns"></div>
    		</div>
    	</div>
    </footer>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
</body>
</html>