body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	background-color: $body-background;
	color: $body-color;
}

.hr {
  height: 1px;
  background-color: #cccccc;
  border: 0;
}

.block { display: block; }

.section {
	padding: 60px 0;
	&--white {
		background-color: $section-background--white;
	}
  &--black {
    background-color: #272b32;
  }
}

.circle-icon {
	@include position(relative);
	@include border-radius(50px);
	border: 1px solid $icon-border;
	text-align: center;

	&--large {
		@include size(70px);
	    line-height: 65px;
	}

  &--small {
    @include size(45px);
    line-height: 44px;
  }

	&--center {
		margin: 0 auto;
	}
}

.card {
	background-color: $card-background;
    box-shadow: 0 0 65px rgba(204, 204, 204, 0.39);
}

.media-object {
  @include media-object-container;
  margin-bottom: 20px;
  &__section {
    @include media-object-section();
  }
  &__section:first-child {
    margin-right: 20px;
  }
  &__section>:last-child {
    margin-bottom: 10px;
  }
}

.image-circle {
  @include border-radius(50px);
}