.button {
	$this: &;
	display: inline-block;
    padding: 10px 25px 10px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.8px;
    border: none;
    cursor: pointer;
	text-decoration: none;
	
    &--rounded {
    	@include border-radius(50px);
    }

    &--expand {
    	width: 100%;
    }

    &--small {
    	padding: 8px 25px 8px;
    	font-size: 14px;
    }
	
	&--gold {
		background: map-get($colors, gold);
		border: 1px solid map-get($colors, gold);
		color: map-get($colors, white);
		&:hover,
		&:active {
			background: darken(map-get($colors, gold), 10);
			border: 1px solid darken(map-get($colors, gold), 10);
			color: map-get($colors, white);
		}
    }
    
    &--ghost-gold {
		background: transparent;
		border: 1px solid map-get($colors, gold);
		color: map-get($colors, gold);
		&:hover,
		&:active {
			background: map-get($colors, gold);
			color: map-get($colors, white);
		}
    }
}