.form {
	&__block {
		margin-bottom: 10px;
	}
	&__input {
		display: block;
	    width: 100%;
	    padding: 10px;
	    font-size: 14px;
	    background-color: #fafafa;
		border: solid 1px #ebebeb;
	    outline: none;
	    &:focus {

	    }
	    &:disabled {
	      background: #f8faff;
	      cursor: no-drop;
		}
	    &--outline {
	    	background: transparent;
	    	color: map-get($colors, gold);
	    	border: 1px solid;
	    }

	}
}